*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', Arial, sans-serif;
}

body{
    background:#0f0f12;
    color:white;
}

/* NAVBAR */
.navbar{
    width:100%;
    background:#000; /* Always visible background */
    padding:18px 40px;
    position:sticky;   /* Sticky for inner pages */
    top:0;
    z-index:999;
    box-shadow:0 5px 20px rgba(0,0,0,0.6);
}

/* CONTAINER CENTER FIX */
.nav-container{
    max-width:1200px;
    margin:0 auto;  /* CENTER CONTENT */
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LOGO */
.logo{
    height:50px;
}

/* LINKS */
.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:12px;
    font-weight:300;
    text-transform:uppercase;
    
    position:relative;
}

/* Hover underline */
.nav-links a::after{
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    bottom:-6px;
    left:0;
    background:#ff2e2e;
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}

/* HAMBURGER */
.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:3px;
    background:white;
}

/* MOBILE */
@media(max-width:768px){

    .nav-container{
        padding:0 10px;
    }

    .nav-links{
        position:absolute;
        top:70px;
        right:0;
        background:#000;
        flex-direction:column;
        width:100%;
        text-align:center;
        display:none;
        padding:20px 0;
    }

    .nav-links.active{
        display:flex;
    }

    .hamburger{
        display:flex;
    }

}








/* ===============================
   ABOUT SECTION
=================================*/

.about-section{
    background:#0f0f12;
    padding:50px 20px;
}

.about-container{
    max-width:1100px;
    margin:auto;
}

.about-header{
    text-align:center;
    margin-bottom:70px;
}

.about-title{
    font-size:42px;
    font-weight:800;
    color:#ff2e2e;
}

.about-content-wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.about-content{
    flex:1;
}

.about-subtitle{
    font-size:24px;
    margin-bottom:20px;
    color:white;
}

.about-content p{
    color:white;
    line-height:1.8;
    text-align: justify;
    margin-bottom:20px;
}

.about-image{
    flex:1;
    text-align:center;
}

.about-image img{
    max-width:100%;
    border-radius:20px;
}

/* ===============================
   ANIMATION
=================================*/

.slide-left,
.slide-right{
    opacity:0;
    transition:0.8s ease;
}

.slide-left{
    transform:translateX(-80px);
}

.slide-right{
    transform:translateX(80px);
}

.show{
    opacity:1;
    transform:translateX(0);
}

/* ===============================
   MOBILE VIEW
=================================*/

@media(max-width:768px){

.about-content-wrapper{
    flex-direction:column;
    text-align:center;
}

.about-title{
    font-size:30px;
}

}








/* ===============================
   VISION & MISSION
=================================*/

.vm-section{
    background:#111418;
    padding:120px 20px;
}

.vm-container{
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.vm-box{
    flex:1;
    background:#161b22;
    padding:60px 30px 40px 30px;
    border-radius:20px;
      border:2px solid #ff2e2e;
    text-align:center;
    position:relative;
    transition:0.4s ease;
    border:1px solid transparent;
}

.vm-box:hover{
    border:1px solid #ff2e2e;
    transform:translateY(-8px);
}

/* ICON CENTER TOP */

.vm-icon{
    width:80px;
    height:80px;
    background:#ff2e2e;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    color:white;
    position:absolute;
    top:-40px;
    left:50%;
    transform:translateX(-50%);
}

.vm-box h3{
    margin-top:50px;
    font-size:24px;
    color:white;
   
    margin-bottom:20px;
}

.vm-box p{
    color:white;
    line-height:1.8;
    text-align: justify;
}

/* ===============================
   ANIMATIONS
=================================*/

.slide-left,
.slide-right{
    opacity:0;
    transition:0.8s ease;
}

.slide-left{
    transform:translateX(-100px);
}

.slide-right{
    transform:translateX(100px);
}

.show{
    opacity:1;
    transform:translateX(0);
}

/* ===============================
   MOBILE VIEW
=================================*/

@media(max-width:768px){

.vm-container{
    flex-direction:column;
    gap:80px;
}

.vm-box{
    padding:60px 20px 30px 20px;
}

}


















/* ===============================
   LEADERSHIP SECTION
=================================*/

.leader-section{
    padding:50px 20px;
}

.leader-container{
    max-width:1200px;
    margin:auto;
}

/* HEADING */

.leader-header{
    text-align:center;
    margin-bottom:80px;
}

.leader-title{
    font-size:42px;
    font-weight:800;
    color:#ff2e2e;
}

.leader-line{
    width:80px;
    height:4px;
    background:#ff2e2e;
    margin:15px auto 0;
    border-radius:5px;
}

/* CARDS */

.leader-cards{
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.leader-card{
    flex:1;
    background:#161b22;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
    border:1px solid #222;
    transition:0.4s ease;
}

.leader-card:hover{
    transform:translateY(-10px);
    border:1px solid #ff2e2e;
}

/* ICON */

.leader-icon{
    width:120px;
    height:120px;
    margin:0 auto 25px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:50px;
    background:#0f0f12;
    border:3px solid #ff2e2e;
    color:#ff2e2e;
    transition:0.4s ease;
}

.leader-card:hover .leader-icon{
    background:#ff2e2e;
    color:white;
    transform:scale(1.1);
}

/* TEXT */

.leader-card h3{
    color:white;
    margin-bottom:8px;
    font-size:20px;
}

.leader-card span{
    display:block;
    color:#ff2e2e;
    margin-bottom:15px;
    font-size:14px;
}

.leader-card p{
    color:white;
    line-height:1.7;
    font-size:14px;
}

/* ===============================
   ANIMATIONS
=================================*/

.slide-left,
.slide-right,
.slide-top{
    opacity:0;
    transition:0.8s ease;
}

.slide-left{
    transform:translateX(-80px);
}

.slide-right{
    transform:translateX(80px);
}

.slide-top{
    transform:translateY(60px);
}

.show{
    opacity:1;
    transform:translate(0);
}

/* ===============================
   MOBILE VIEW
=================================*/

@media(max-width:768px){

.leader-title{
    font-size:28px;
}

.leader-cards{
    flex-direction:column;
    gap:50px;
}

.leader-card{
    padding:30px 20px;
}

}








/* ===============================
   PRESTIGE MILESTONES
=================================*/

.prestige-section{
    background:#111418;
    padding:50px 20px;
}

.prestige-container{
    max-width:1200px;
    margin:auto;
}

/* HEADING */

.prestige-header{
    text-align:center;
    margin-bottom:80px;
}

.prestige-header h2{
    font-size:42px;
    font-weight:800;
    color:#ff2e2e;
}

.prestige-underline{
    width:100px;
    height:4px;
    background:#ff2e2e;
    margin:15px auto 0;
    border-radius:4px;
}

/* WRAPPER */

.prestige-wrapper{
    display:flex;
    justify-content:space-between;
    gap:30px;
    flex-wrap:wrap;
}

/* ITEM */

.prestige-item{
    flex:1;
    min-width:250px;
    background:#161b22;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
    border:1px solid #222;
    transition:0.4s ease;
    position:relative;
}

.prestige-item:hover{
    transform:translateY(-10px);
    border:1px solid #ff2e2e;
}

/* YEAR BADGE */

.prestige-year{
    display:inline-block;
    background:#ff2e2e;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
    margin-bottom:20px;
    font-weight:bold;
}

/* TEXT */

.prestige-item h3{
    color:white;
    margin-bottom:15px;
}

.prestige-item p{
    color:#b0b0b0;
    font-size:14px;
    line-height:1.7;
}

/* ===============================
   ANIMATIONS
=================================*/

.slide-left,
.slide-right,
.slide-top{
    opacity:0;
    transition:0.8s ease;
}

.slide-left{
    transform:translateX(-80px);
}

.slide-right{
    transform:translateX(80px);
}

.slide-top{
    transform:translateY(60px);
}

.show{
    opacity:1;
    transform:translate(0);
}

/* ===============================
   MOBILE VIEW
=================================*/

@media(max-width:768px){

.prestige-header h2{
    font-size:28px;
}

.prestige-wrapper{
    flex-direction:column;
    gap:40px;
}

}