*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', Arial, sans-serif;
}

body{
    background:#0f0f12;
    color:white;
}

/* NAVBAR */
.navbar{
    width:100%;
    background:#000; /* Always visible background */
    padding:18px 40px;
    position:sticky;   /* Sticky for inner pages */
    top:0;
    z-index:999;
    box-shadow:0 5px 20px rgba(0,0,0,0.6);
}

/* CONTAINER CENTER FIX */
.nav-container{
    max-width:1200px;
    margin:0 auto;  /* CENTER CONTENT */
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LOGO */
.logo{
    height:50px;
}

/* LINKS */
.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:12px;
    font-weight:300;
    text-transform:uppercase;
    
    position:relative;
}

/* Hover underline */
.nav-links a::after{
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    bottom:-6px;
    left:0;
    background:#ff2e2e;
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}

/* HAMBURGER */
.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:3px;
    background:white;
}

/* MOBILE */
@media(max-width:768px){

    .nav-container{
        padding:0 10px;
    }

    .nav-links{
        position:absolute;
        top:70px;
        right:0;
        background:#000;
        flex-direction:column;
        width:100%;
        text-align:center;
        display:none;
        padding:20px 0;
    }

    .nav-links.active{
        display:flex;
    }

    .hamburger{
        display:flex;
    }

}










.directory{
max-width:1200px;
margin:auto;
padding:60px 20px;
}

.page-title{
text-align:center;
margin-bottom:50px;
font-weight: 800;
font-size: 42px;
color:#ff2e2e
}

.zoom{
transform:scale(0.7);
opacity:0;
transition:0.8s ease;
}

.zoom.visible{
transform:scale(1);
opacity:1;
}

/* FILTER */
.filters{
text-align:center;
margin-bottom:60px;
}

.filter{
padding:10px 20px;
margin:5px;
border:none;
background:#161b22;
color:white;
border-radius:20px;
cursor:pointer;
transition:0.3s;
}

.filter.active,
.filter:hover{
background:#ff2e2e;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:40px;
}

/* CARD */
.card{
background:#161b22;
padding:30px;
border-radius:20px;
text-align:center;
transition:0.4s ease;
}

.card:hover{
transform:translateY(-10px);

box-shadow:0 0 25px rgba(255,46,46,0.4);
}

.card img{
width:80px;
height:80px;
border-radius:50%;
margin-bottom:20px;
}

.subs{
margin-top:10px;
color:#ff2e2e;
font-weight:600;
}

.btns{
display:flex;
justify-content:center;
gap:15px;
margin-top:15px;
}

.yt{
width:40px;
height:40px;
background:#ff2e2e;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
color:white;
text-decoration:none;
}

.collab{
padding:8px 15px;
background:#222;
border:none;
color:white;
border-radius:20px;
cursor:pointer;
}
.hide{
    opacity:0;
    transform:scale(0.85);
    pointer-events:none;
    transition:0.4s ease;
}
/* SCROLL ANIMATIONS */
.anim-left{
transform:translateX(-80px);
opacity:0;
transition:0.8s ease;
}

.anim-right{
transform:translateX(80px);
opacity:0;
transition:0.8s ease;
}

.anim-top{
transform:translateY(-80px);
opacity:0;
transition:0.8s ease;
}

.visible{
transform:translate(0);
opacity:1;
}